name: DriftDetection

on:
  schedule:
    - cron: '0 0 * * 1' # Mon 09:00 JST (00:00 UTC)
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

permissions:
  id-token: write
  contents: read

env:
  TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform.d/plugin-cache

jobs:
  call:
    uses: ./.github/workflows/reusable-drift-detection.yml
    secrets: inherit

