name: PRComment

on:
  issue_comment:
    types: [created]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.issue.number }}
  cancel-in-progress: false

permissions:
  id-token: write
  contents: read
  pull-requests: write
  statuses: write

env:
  TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform.d/plugin-cache

jobs:
  call:
    if: >-
      github.event.issue.pull_request &&
      startsWith(github.event.comment.body, '$terraform') &&
      (github.event.comment.author_association == 'OWNER' || github.event.comment.author_association == 'MEMBER' || github.event.comment.author_association == 'COLLABORATOR')
    uses: ./.github/workflows/reusable-pr-comment.yml
    with:
      pr_number: ${{ github.event.issue.number }}
      comment_body: ${{ github.event.comment.body }}
      comment_id: ${{ github.event.comment.id }}
    secrets: inherit
