name: PRReview

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  pull-requests: write

env:
  TF_PLUGIN_CACHE_DIR: ${{ github.workspace }}/.terraform.d/plugin-cache

jobs:
  call:
    if: github.event.pull_request.head.repo.full_name == github.repository
    uses: ./.github/workflows/reusable-pr-review.yml
    with:
      pr_number: ${{ github.event.pull_request.number }}
      base_sha: ${{ github.event.pull_request.base.sha }}
      head_sha: ${{ github.event.pull_request.head.sha }}
    secrets: inherit
